{% load static %}

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{%url 'core:home'%}">
      <iframe width="1" height="1" src="https://www.youtube.com/embed/j5PWUIcXKdE?si=OTnITDKjM5trBfMJ&autoplay=1&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </a>
  </div>

  <div id="navigationBar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="#"> Ubicación </a>
    </div>
    <div class="navbar-start">
      <a class="navbar-item" href="#"> Código de vestimenta </a>
    </div>
    <div class="navbar-start">
      <a class="navbar-item" href="#"> Mesa de regalos </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="#">
            <strong>¡Confirmar asistencia!</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
